h1 {
  text-align: center;
    letter-spacing: 4px;
  color:#a7b3d6;
  text-shadow: 2px 2px #adadad;
  font-size: 50px;
}
p {
  font-size: 34px;
  color:#888888;
  text-align: center;
  letter-spacing: 2px;
  font-family: monospace
}
body {
  background-color: #d6d2d2;
}
