h1 {
  text-align: center;
    letter-spacing: 4px;
  color:#c46d7e;
  text-shadow: 2px 2px grey;
}
p {
  font-size: 18px;
  color:#888888;
  text-align: center;
  letter-spacing: 2px;
  font-family: monospace
}
body {
  background-color: #e6e6e6;
}
